.header-div{
    background-color: aqua;
    text-align: center;
}
.nav-class{
    background-color: black;
    text-align: left;
    padding-left: 30px;
    line-height: 40px;
}
.nav-class a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 6px;
    font-size: 20px;
}
.nav-class a:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.671);
}
.logo-class{
   height: 50px;
}